---
import {getCollection, render} from "astro:content";
import {SHOW_BUY_BUTTON} from "astro:env/server"
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const books = await getCollection('books');
    return books.map((book) => ({
        params: {id: book.data.link},
        props: {book}
    }));
}

const {book} = Astro.props;
const {data} = book;
const {title, description, img} = data;
const {Content} = await render(book);
---

<Layout title={`${title} - Dev Books`}>
    <div class="flex flex-col md:flex-row gap-12">
        <aside class="flex flex-col items-center gap-4">
            <a href="/astro-course/" class="hover:underline opacity-70">← Volver al inicio</a>
            <img transition:name={`img-${book.id}`} src={`/astro-course/${img}`} alt={title} class="rounded w-72 h-auto"/>
            {
                SHOW_BUY_BUTTON && (
                            <a href={book.data.buy.spain} class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" target="_blank">Comprar</a>
                )
            }
        </aside>
        <main class="max-w-3xl">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <div class="prose prose-invert">
                <Content/>
            </div>
        </main>
    </div>
</Layout>